{{#if this.editEvents.showAlert}}
    {{alert-banner
        type=this.editEvents.alertType
        message=this.editEvents.alertMessage
    }}
{{/if}}

{{forms/edit-voucher
    client=editEvents.currentClient
}}

{{search-client
    searchClient=(action "searchClient")
    undoSearchClient=(action "undoSearchClient")
}}

<div class="action-description bg-dark">
      {{fa-icon "info" class="left"}} (click a client in the list below to create a voucher)
</div>

{{infinite-scroll-list
    list=this.model.clients
    paginationInfo=this.paginationInfo
    loadMore=(action "loadMoreClients")
    isLoading=this.isLoadingClients
    class="clients-list"
    itemComponent="lists/client-line"
    headers=itemHeaders
}}
